#cnbf_form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3%;
}

#cnbf_form label {
    color: #2196f3;
    font-weight: bolder;
}

#cnbf_form div {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

#cnbf_form button {
    height: 32px;
    width: 125px;
    margin-top: 5%;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

#cnbf_form button:hover {
    background-color: darkgray;
}

#cnbf_textarea_content {
    font-family: sans-serif;
    width: 164px;
    height: 260px;
    resize: none;
}

#cnbf_select_assignee, #cnbf_select_group_id {
    width: 170px;
}

.cnbf_line_items {
    margin-top: 2%;
}

#denotes_required {
    color: red;
}
