#navbar_div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* background-color: #1CC5DC; */
  background-color: #2196f3;
  font-size: 2rem;
  width: 100%;
  height: 8rem;
}

.main_nav_buttons_left, .main_nav_buttons_right {
  color: white;
  text-decoration: none;
}

.main_nav_buttons_right {
  padding-left: 1rem;
}

#navbar_div_right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: white;
}

#navbar_div_left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: white;
  margin-left: 2rem;
}

#navbar_right_buttons_wrapper {
  margin-right: 2rem;
}









@media all and (max-width: 600px) {

  #navbar_div {
    font-size: 25px;
  }

}
