#dbi_top_div {
  position: relative;
  display: inline-block;
  width: 92%;
  height: 100%;
  /* background-color: brown; */
}

#dbi_grid_container {
  position: absolute;
  display: grid;
  width: 100%;
  height: 100%;
  margin-left: 9px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 5fr;
  grid-gap: 10px;
  grid-template-areas:
    "welcome one two"
    "new in_progress complete";
}

#dbi_welcome_label {
  grid-area: welcome;
  /* border-bottom: solid white 10px; */
}

#dbi_new_bugs {
  grid-area: new;
  /* overflow-y: auto; */
}

#dbi_in_progress {
  grid-area: in_progress;
}

#dbi_completed_bugs {
  grid-area: complete;
  width: 98%;
}

.main_divs {
  width: 100%;
  /* height: 300px; */
  height: auto;
  padding-top: 10px;
  /* padding-left: 5px; */
  background-color: coral;
  overflow-y: auto;
}

.main_divs_titles {
  padding-left: 10px;
}

.dbi_single_bug {
  width: 98%;
  height: 5rem;
  font-weight: bold;
  background-color: cornsilk;
  margin-bottom: 5px;
  margin-left: 5px;
}

.dbi_single_bug_content {
  font-weight: normal;
  padding-top: 3px;
}

.dbi_status_indicator {
  width: 25px;
  height: 25px;
  margin-left: 5px;
  margin-bottom: 5px;
  border-radius: 50%;
  background-color: red;
}

.dbi_status_indicator_parent {
  height: 50%;
  display: flex;
  align-items: flex-end;
}
