#dbi_top_div {
  position: relative;
  display: inline-block;
  width: 92%;
  height: 100%;
  /* background-color: brown; */
}

#dbi_grid_container {
  position: absolute;
  display: grid;
  width: 100%;
  height: 100%;
  margin-left: 9px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 5fr;
  grid-gap: 10px;
  grid-template-areas:
    "welcome one two"
    "a b c"
    "new in_progress complete";
}

#dbi_welcome_label {
  grid-area: welcome;
  /* EBEN: POSSIBLY DELETE BELOW */
  height: 8rem;
}

#dbi_new_bugs {
  grid-area: new;
  /* overflow-y: auto; */
}

#dbi_in_progress {
  grid-area: in_progress;
}

#dbi_completed_bugs {
  grid-area: complete;
  width: 98%;
}

.main_divs {
  width: 100%;
  /* height: 300px; */
  height: auto;
  padding-top: 10px;
  /* padding-left: 5px; */
  background-color: #e0e0e0;
  border-top: solid 5px #e0e0e0;
  overflow-y: auto;
}

.main_divs_titles {
  /* position: fixed; */
  background-color: #e0e0e0;
  padding-left: 10px;
}

.dbi_single_bug, .dbi_progress_bug, .dbi_completed_bug {
  width: 98%;
  height: 5rem;
  font-weight: bold;
  background-color: white;
  margin-bottom: 5px;
  margin-left: 5px;
  padding-left: 5px;
  padding-top: 5px;
  /* overflow-y: hidden; */
}

.dbi_single_bug:hover, .dbi_progress_bug:hover, .dbi_completed_bug:hover {
  background-color: darkgray;
  cursor: pointer;
}

.dbi_single_bug_content, .dbi_progress_bug_content, .dbi_completed_bug_content {
  max-height: 18px;
  font-weight: normal;
  padding-top: 3px;
  overflow-wrap: break-word;
  overflow-y: hidden;
}

.dbi_status_indicator {
  width: 25px;
  height: 25px;
  /* margin-left: 5px; */
  margin-bottom: 5px;
  border-radius: 50%;
  /* background-color: red; */
}

.dbi_status_indicator_parent {
  height: 50%;
  display: flex;
  align-items: flex-end;
}

.dbi_single_bug .dbi_status_indicator {
  background-color: red;
}

.dbi_progress_bug .dbi_status_indicator {
  background-color: purple;
}

.dbi_completed_bug .dbi_status_indicator {
  background-color: greenyellow;
}

/* maybe delete the items below? */
#final_new_bugs_label {
  grid-area: a;
  display: inline-block;
}

#final_in_progress_bugs_label {
  grid-area: b;
  display: inline-block;
}

#final_completed_bugs_label {
  grid-area: c;
  display: inline-block;
}
