#ubf_form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3%;
}

#ubf_form div {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

#ubf_select_group_id, #ubf_select_completion_status {
    width: 170px;
}

#ubf_form button {
    height: 32px;
    width: 125px;
    margin-top: 5%;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

#ubf_form button:hover {
    background-color: darkgray;
}

#ubf_textarea_content {
    font-family: sans-serif;
    width: 164px;
    height: 260px;
    resize: none;
}

#ubf_select_assignee {
    width: 170px;
}

#ubf_buttons_container_div.ubf_test {
    width: 92%;
}

.ubf_line_items {
    margin-top: 2%;
}

#ubf_denotes_required {
    color: red;
}
