#about_me_footer {
    /* position: absolute; */
    position: relative;
    /* bottom: 9px; */
    bottom: 0;
    top: 18.5%;
    width: 100%;
    height: 8rem;
    margin-right: 8px;
    background-color: #2196f3;
    display: flex;
    justify-content: center;
}

#amf_links_container {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

#amf_links_container button {
    border: none;
    background: none;
    font-size: 85px;
    color: white;
    cursor: pointer;
}

#amf_links_container button a {
    color: white;
    text-decoration: none;
}





/* #amf_outer_div {
    position: relative;
} */






@media all and (max-height: 1180px) {

    #about_me_footer {
        /* height: 6rem; */
    }

  }



@media all and (max-height: 660px) {

    #about_me_footer {
        /* display: none; */
    }

}
